@import url('https://fonts.googleapis.com/css2?family=Marcellus&display=swap');

.container {
    padding-top: 30px;
}

a {
    text-decoration: none;
}



.Search {
    text-align: center;
}

  .unit {
    font-size: 15px;
  
    position: relative;
  line-height: 1;
  top: -22px;
  }
  
.background {
    padding: 30px;
    margin: 0px auto;
    max-width: 1000px;
    border-radius: 20px;
    border: 1.5px solid rgb(102, 102, 102);
    max-width: 1000px;
    background-image: linear-gradient(to bottom, #ffffff, #ffffff, #f9f2c4);}

    .btn {
        background-color: rgb(34, 34, 142);
        font-size: 15px;
        border: none;
    }
    .btn:hover {
        background-color: rgba(253, 246, 179, 0.752);
        border: none;
        color: rgb(34, 34, 142);

    }

    .source {
        text-align: center;
        font-family: 'Marcellus', serif;
        font-size: 12px;
    }

    @media (max-width:900px) {
        .form-control {
            font-size: 12px;}
        }
        .btn {
            display: flex;
        }
