

body {
        background-origin: #000000;
    
}

.h1 {
    font-size: 30px;

    color: rgb(34, 34, 142);
}


.currentWeather {
    display: flex;
    align-items: center;
    font-size: 50px;
    font-weight: bold;
    color: rgb(34, 34, 142);
 
}

ul {
    list-style: none;
    padding-left: 0;
}


.littleTitle {
    font-size: 13px;
    line-height: 1.5;
    color: rgb(34, 34, 142);
}

#city {
    font-size: 50px;
    font-weight: bold;
    color: rgb(34, 34, 142);

}
#cityTemp {
    font-size: 50px;
    font-weight: bold;
    color: rgb(34, 34, 142);
    margin-bottom: -30px;
}


@media (max-width:900px) {
    .currentWeather {
        font-size: 40px;
        line-height: 70px;
        
    }

    .emoji-container {
        font-size: 40px;
        line-height: 70px;
    }


    #city {
        font-size: 40px;
    }

    .btn {
        font-size: 12px;
    }
}